@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body, #root {
    min-height: 100%;
}

body {
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    line-height: 1.75rem;
    color: var(--color);
}

/*******************
*      Header      *
********************/

.blog-header {
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    max-width: 90%;
}

.blog-header h1 {
    margin: 1rem 0 0 0;
    letter-spacing: -1px;
    font-weight: var(--font-bold);
    color: var(--color);
}

.blog-header .description {
    margin-top: 1rem;
    font-weight: 400;
    font-family: "Merriweather", serif;
    font-size: 1.5;
    letter-spacing: 0.01rem;
    color: var(--color);
}

/********************
*  content sectons  *
********************/

.post-content {
    padding: 0 1rem;
    min-height: 100%;
    min-width: 300px;
    max-width: 800px;
    /* overflow-x: scroll; */
}

@media only screen and (min-width: 800px) {
    .post-content {
        width: 800px;
        margin: 0 auto;
    }
}

.section-content {
    min-height: 100%;
}

/********************
*  Signin Section   *
********************/

.signin-wrap {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.signin-box {
    background-color: #f8fbfd;
    border: 1px solid rgb(218, 225, 227);
    border-radius: 5px;
    padding: 3rem;
    display: grid;
    grid-gap: 0.5rem;
    place-content: center;
}

.btn.github {
    background-color: #7b7e8c;
    color: #fff;
}

.btn.google {
    background-color: #4285f4;
    color: #fff;
}

.btn.facebook {
    background-color: #4465ac;
    color: #fff;
}

/*******************
*   post-meta       *
********************/

.post-meta {
    color: #9EABB3;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.post-meta>* {
    margin-right: 1rem;
}

.post-meta .photo {
    display: block;
    height: 2rem;
    width: 2rem;
}

.photo img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.post-meta a {
    text-decoration: underline;
}

/*******************
*       post       *
********************/

.post-header {
    padding: 2rem 0;
}

.post-content .post-body {
    margin: 1rem 0;
    color: var(--color);
}

.post-excerpt {
    padding: 2.5rem 0;
    border-bottom: 1px solid #EBF2F6;
}

.post-excerpt .title {
    font-size: 1.2rem;
    color: var(--bold-color);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.post-excerpt {
    color: var(--color);
    font-size: var(--font-normal);
    font-size: 1.1rem;
}

.post-body-view a, .post-body-preview a {
    color: #4a4a4a;
    text-decoration: underline;
}

.post-body-preview a {
    color: #4285f4;
}

.post-body-view ul, .post-body-preview ul {
    list-style-type: disc;
}

.post-body-view ol, .post-body-preview ol {
    list-style-type: decimal;
}

input {
    padding-left: 1rem;
}

input::placeholder {
    color: #ddd;
}

.post-body textarea {
    height: 100%;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    resize: none;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    box-sizing: border-box;
}

/********************
*        table      *
********************/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

/********************
* admin-section *
********************/

.admin-section {
    height: 100%;
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: auto;
}

.admin-section-nav {
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    padding-top: 3.125rem;
}

.admin-section-nav ul {
    padding-left: 0;
}

.admin-section-nav li {
    line-height: 2;
}

.admin-section-nav li:hover {
    background-color: #ddf;
}

.admin-section-nav a {
    text-decoration: none;
    margin: 0 1.6rem;
}

/********************
* blog-section *
********************/

.blog-section {
    height: 100%;
    overflow: hidden;
}

/*********************
* post-admin-seciton *
*********************/

.post-list-section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "list post post"
}

.post-list-section--list {
    grid-area: list;
}

.post-list-section--post {
    grid-area: post;
    border-left: 1px solid #ddd;
}

/********************
* post-edit-section *
********************/

.post-edit-section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: "title title title action" "body body body body"
}

.field {
    display: grid;
}

.post-edit-section input, textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 1rem;
}

.post-title {
    grid-area: title;
    display: grid;
    border-bottom: 1px solid #ddd;
}

.post-title input {
    font-size: 1.6rem;
    font-weight: bold;
}

.post-action {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    border-bottom: 1px solid #ddd;
}

.post-action .btn {
    margin-left: 0.5rem;
}

.post-body {
    grid-area: body;
}

.post-body-preview {
    display: none;
}

.post-edit-section input {
    padding-left: 1rem;
}

.post-edit-section input::placeholder {
    color: #ddd;
}

.post-body textarea {
    height: 100%;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    resize: none;
    box-sizing: border-box;
}

@media(min-width: 800px) {
    .post-edit-section {
        grid-template-areas: "title title title action" "body body preview preview"
    }
    .post-body-preview {
        display: block;
        grid-area: preview;
        border: 1px solid #ddd;
        border-width: 0 0 0 1px;
        padding: 1rem;
    }
}

/*******************
*     post-list    *
*******************/

.post-list-item {
  border-bottom: 1px solid #eee;
  padding: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.post-list-item .title {
  font-size: 1rem;
  color: #111;
}

.post-list-item .meta {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-list-item .meta > div {
    margin-right: 1rem;
}

.post-list-item .meta .status,
.post-list-item .meta .date {
    color: #aaa; 
    font-size: 0.9rem;
}

.post-list-item .meta .status.published {
    color: #5ba4e5;
}

.post-list-item .meta .avatar {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
}

.post-list-item .meta .avatar img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}




/*******************
*         btn      *
*******************/

.btn {
    background-color: #fff;
    border: 1px solid #dfe1e3;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
    cursor: pointer;
    border-radius: 4px;
}

.btn-small {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    font-weight: 200px;
}

.btn-medium {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.btn-red {
    border-top-color: #e25440;
    border: 1px solid #aaa;
    color: white;
}

.btn-blue {
    background-color: #5ba4e5;
    border: 1px solid #66b;
    color: white;
}

/********************
*    Open Nav      *
********************/

.open-nav-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    color:var(--color);
}

.open-nav-button:hover {
    color: #ddd;
}

/********************
*     Side Nav      *
********************/

.side-nav {
    position: fixed;
    padding: 2rem 0;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    background-color: var(--color);
    opacity: 0.9;
    font-size: 1rem;
    transition: 0.5s ease;
}

.side-nav.visible {
    width: 180px;
}

.side-nav a {
    display: block;
    margin: 0.5rem 0rem 0.5rem 2rem;
    color: #fff;
}

.side-nav .close-link {
    position: absolute;
    top: 0rem;
    right: 22px;
    padding: 0.3rem;
    font-size: 2.1rem;
}

.side-nav a:hover {
    color: #ddd;
    display: block;
    margin-left: 2rem;
}

/* app initializing */

.view-loading {
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
    margin-top: 30vh;
}

/*******************
*     h1 - h2      *
********************/

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    line-height: 1.5em;
    margin: 0 0 0.4em 0;
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-bold);
    text-rendering: geometricPrecision;
}

h1 {
    font-size: 3rem;
    letter-spacing: -2px;
    text-indent: -3px;
    line-height: 4rem;
}

h2 {
    font-size: 2.4rem;
    letter-spacing: -1px;
    line-height: 2.5rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.2rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.4rem;
    line-height: 1.9rem;
}

h6 {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #4A4A4A;
    transition: color 0.3s ease;
}

a:hover {
    color: #111;
}

p, ul, ol, dl {
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision;
}

ol, ul {
    padding-left: 3rem;
}

ol ol, ul ul, ul ol, ol ul {
    margin: 0 0 0.4em 0;
    padding-left: 2em;
}

strong, em {
    font-weight: bold;
}

/*******************
*     code  pre    *
********************/

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #b73c2c;
    background-color: #f7f7f7;
    padding: 0.1rem 0.2rem;
    border: 1px solid #63a4f9;
    border-radius: 2px;
}

pre {
    background-color: #f7f7f7;
    padding: 0.85rem 1rem;
}

pre code {
    color: var(--color);
    font-size: 1rem;
    line-height: 1.02rem;
    font-family: Consolas, monospace, sans-serif;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

/*******************
*        other     *
********************/

small {
    font-size: 0.7rem;
    font-family: Tahoma;
}

/*******************
*       columns    *
********************/

.two-columns {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

/*******************
*    blockquote    *
********************/

blockquote {
    margin: 1.6em 0;
    padding: 0 1.6em;
    border-left: #dfe1e3 .6em solid;
}

/*******************
*     util         *
********************/

.full-height {
    min-height: 100%;
}

/*******************
*    animation     *
********************/

.spin {
    animation: spinning 1s linear infinite;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(100deg)
    }
}

/*******************
*   modal dialog   *
********************/

.modal-container {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: var(--color);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 6px;
}

.modal-header {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.modal-body {
    text-align: left;
    padding: 1rem;
}

.modal-footer {
    text-align: right;
    padding: 0.5rem 1rem 1rem 1rem;
}

.modal-footer .btn {
    margin-left: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.btn-red {
    background-color: #d1341f;
    color: white;
    text-transform: uppercase;
}